.button {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: #446ade;
    border-radius: 0100px;
    border: 3px solid #ffffff;
    padding: 13px 16px 12px 16px;
    color: #ffffff;
    font-size: 16px;
    font-family: arial, serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
}

@keyframes show-dot {
    from {
        width: 0px;
    }
    to {
        width: 15px;
    }
}


/*.loading:after {*/
/*    overflow: hidden;*/
/*    display: inline-block;*/
/*    vertical-align: bottom;*/
/*    animation: ellipsis 2s infinite;*/
/*    content: "\2026";*/
/*}*/

/*@keyframes ellipsis {*/
/*    from {*/
/*        width: 2px;*/
/*    }*/
/*    to {*/
/*        width: 15px;*/
/*    }*/
/*}*/




.btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1 {
    width: 70px;
    text-align: center;
}

.dot-true {
    opacity: 1;
    width: unset;
    animation: show-dot 1s ease-in-out both;
}

.dot-false {
    opacity: 0;
    width: 0;
    animation: hidden-dot;
}


.dot {
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    margin-left: 8px;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.button .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.button .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}